<!-- 投稿一覧画面 -->

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!-- サクセスメッセージの表示 -->
<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<!-- blogbarクラス -->
<div class="blogbar">

  <!-- bootstrap使用宣言 -->
  <div class="container px-5">
    <div class="row">

      <!-- 部分テンプレートの参照-->
      <div class="col-md-3">
        <%= render 'list', book: @book, user: @user %>
          <% if @book.errors.any? %>
          <%= @book.errors.count %>errors
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <!-- 参照終了 -->

      <!-- カラム８とオフセット一つ分 -->
      <div class="col-md-8 offset-md-1">

        <h2>Books</h2>
        <!-- books/一覧テーブルの生成 -->
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th class="table-title">Title</th>
              <th class="table-body">Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
            <tr>
              <td class="profile-image">
                <%= link_to user_path(book.user.id) do %>
                  <%= image_tag book.user.get_profile_image(100, 100) %>
                <% end %>
              </td>
              <td class="book2-title"><%= link_to book.title, "/books/#{book.id}" %></td>
              <td class="book2-body"><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>

